* body {
  font-family: ‘Roboto’;
  width: 1600px;
  height: 1880px;
  background: #fff;
}

.logo {
  font-size: 26px;
  color: #000000;
  color: #2196f3;
}

.nav-menu li a {
  font-size: 14px;
  color: #212121;
}

.nav-menu li a:hover {
  color: #2196f3;
}

.nav-contact li a {
  font-size: 14px;
  color: #757575;
}

.nav-contact li a:hover {
  font-size: 14px;
  color: #2196f3;
}
.filter li a {
  color: #212121;
  font-size: 16px;
}

.filter li a:hover {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
}

.card h2 {
  color: #212121;
  font-size: 18px;
}

.card p {
  color: #757575;
  font-size: 16px;
}

footer {
  background-color: #2f303a;
}

footer a {
  color: black;
}

.footer-contact {
  color: #ffffff;
}
/* font */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
