body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
:root {
  --colorBackgroundPrimary: #2f303a;
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #ffffff;
  --colorBackgroundSecondary: #f5f4fa;
  --colorTextAdditional: #eeeeee;
  --colorHover: #2196f3;
}
.list {
  background-color: var(--colorBackgroundPrimary);
}
.header {
  font-size: 14px;
  font-weight: 500;
}
.hero-button {
  font-size: 16px;
  font-weight: 700;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
}
.features-text {
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
}
.hero-title {
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
}
.worker-position {
  font-weight: 400;
  font-size: 16px;
}
.footer {
  font-weight: 400;
}
.portfolio-text {
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}
.portfolio-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
}
.portfolio-filter {
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px;
}
.contact-item {
  line-height: 1.71;
  font-size: 14px;
}
.contact-adress {
  font-size: 14px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
