body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
:root {
  --colorBackgroundPrimary: #2f303a;
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #ffffff;
  --colorBackgroundSecondary: #f5f4fa;
  --colorTextAdditional: #eeeeee;
  --colorHover: #2196f3;
  --colorLine: #ececec;
}
.list {
  background-color: var(--colorBackgroundPrimary);
}
/* studio/ */
.header {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #ececec;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  column-gap: 93px;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.nav-link {
  color: #212121;
}
.nav-link:hover {
  color: #2196f3;
}
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  margin: auto;
}
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 280px;
  max-width: 100%;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.hero-title {
  max-width: 696px;
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  text-align: center;
}
.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196f3;
  color: #ffffff;
}
.hero-button:hover {
  color: #212121;
}
.features {
  padding-top: 94px;
  padding-bottom: 118px;
}
.features-img {
  height: 120px;
}
.features-img::before {
  display: inline-block
  width: 24px;
  height: 24px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
}
.features-text {
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  color: #757575;
}
.worker-name {
  padding-bottom: 10px;
  padding-top: 30px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}
.work-pictures {
  flex-basis: calc((100% - 30px) / 3);
  display: flex;
  unicode-bidi: isolate;
  column-gap: 30px;
}
.work-img {
  max-width: 100%;
}
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-workers {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.team-worker {
  flex-basis: calc((100% - 30px) / 4);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.worker-position {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.footer {
  font-weight: 400;
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: flex;
  padding-bottom: 20px;
}
/* portfolio */
.portfolio {
}
.nav-menu {
}

.header-contact-link {
  color: #757575;
}
.header-contact-link:hover {
  color: #2196f3;
}
.portfolio-all {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 0 auto;
}
.portfolio-filter {
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px;
  color: #212121;
}
.portfolio-filter:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.portfolio-info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 94px;
  column-gap: 30px;
}
.portfolio-info-card {
  width: calc(33.33% - 30px);
  column-gap: 30px;
}
.portfolio-picture {
  flex-basis: calc((100% - 30px) / 3);
  max-width: 100%;
}
.portfolio-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  color: #212121;
  padding-top: 20px;
}
.portfolio-text {
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
  color: #757575;
}
.contact-item {
  line-height: 1.71;
  font-size: 14px;
  padding-bottom: 9px;
}
.contact-adress {
  font-size: 14px;
}
.contact-link {
  color: #757575;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
