:root {
  --colorBackgroundPrimary: #2f303a;
  --colorTextPrimary: #212121;
}
.list {
  background-color: var(--colorBackgroundPrimary);
}

.header {
  font-weight: medium;
}
.features-title {
  font-weight: bold;
}
.features-text {
  font-weight: regular;
}
.work-title {
  font-weight: bold;
}
.hero-title {
  font-weight: black;
}
.team-title {
  font-weight: bold;
}
.worker-name {
  font-weight: medium;
}
.worker-position {
  font-weight: regular;
}
.footer {
  font-weight: regular;
}
.portfolio-title {
  font-weight: bold;
}
.portfolio-text {
  font-weight: regular;
}
.portfolio-text {
  font-weight: medium;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
